#fruit, #virus {
    display: none;
  }
  
  canvas {
    background-image: url("../../../../assets/green.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:600px;
    height:600px;
    padding: 0;
    margin: auto;
    display: block;
  }

 