#fruit, #virus {
    display: none;
  }
  
  canvas {
    background-image: url("../../../assets/green.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
  }