#fruit, #virus, #gameScreen, #fruit, #virus {
    display: none;
  }
  
  canvas {
    background-image: url("../../../assets/green.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }