<div id="initialScreen" class="h-100">
    <div class="d-flex flex-column align-items-center justify-content-center h-100">
        <h1>Multiplayer Snake</h1>
        <button type="submit" class="btn btn-success" (click)="createGame()" id="newGameButton">
            Create New Game
        </button>
        <div>OR</div>
        <div class="form-group">
            <input type="text" placeholder="Enter Game Code" id="gameCodeInput" />
        </div>
        <button type="submit" class="btn btn-success" id="joinGameButton">
            Join Game
        </button>
    </div>
</div>